<style>*{margin:0;padding:0}</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var link = "<%= src %>" ;
link = link.replace(/&amp;/g,'&');
var type = "mp4";
</script>
<script type="text/javascript" src="http://banhtv.net/api/jwplayer/jwplayer-banhtv.js"></script>
<script>jwplayer.key="KSCvOsRY0P0q2R1b9kgrfPV0pKu2DBk9P2iUhPmGO5A=";</script>
<div id="player-content" class="player"></div>
<script type="text/javascript">
	$("#player-content").html("<script type=\"text/javascript\">jwplayer(\"player-content\").setup({file: '"+link+"',label:'video',type:'mp4',width: \"100%\",height: \"100%\",image: \"\",primary: \"html5\",controls: true,autostart: true, allowfullscreen: true,skin: \"seven\"});jwplayer(\"player-content\").addButton('\/\/i.imgur.com\/f8RG3vU.png','Tải Phim',function(){window.location.href=jwplayer(\"player-content\").getPlaylistItem()['file'];},'download');<\/script>");
</script>
