<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Cập nhật phim</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</head>

<body class="container">
    <h1>Cập nhật tập phim</h1>
    <div id="codee0" class="form-group">
        <strong>Token</strong>:
        <button type="button" class="btn btn-primary" style="" id="lay-token">Get token</button>
    </div>
    <script>
        $('#lay-token').click(function () {
            window.location =
                "https://accounts.google.com/o/oauth2/v2/auth?response_type=token&client_id=513153404181-o8flq7gdlueq838kion0541acqtp9iih.apps.googleusercontent.com&redirect_uri=http://localhost:3010&scope=https://www.googleapis.com/auth/blogger";
        })
        $(document).ready(function () {
            let token = window.location.hash.substr(1);
            if (token) {
                token = token.slice(13).split('&')[0].trim();
                $.ajax({
                    url: 'https://get-phim-tool.herokuapp.com/api/updateblog?token=' + token,
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (response) {
                        $('body').append('<div>Tổng số: <div>' + response.sum + '</div></div>');
                        $('body').append('<div>Thành công: <div>' + response.success +
                            '</div></div>')
                        $('body').append('<div>Thất bại: <div>' + response.fail + '</div></div>')
                    },
                    error: function (err) {
                        alert('Update post thất bại!')
                    }
                });
            }
        })
    </script>
</body>
